section.wrapper {
  color: #6b705c;
  font-family: 'manrope', Helvetica, Arial sans-serif;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  line-height: 1.3em;
  display: grid;
}

header {
  padding: 1rem;
  background-color: #cb997e;
}

.menuname>a:nth-child(1) {
  visibility: hidden;

}

.main {
  background-color: #ffe8d6;
  grid-row: 2;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
  padding: 1.2em 0 1.2em 0;
}

.card {
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  max-width: 20em;
  padding: 0 1em;
  background-color: #fff7f1;
  text-wrap: pretty;
}

.cover {
  width: 320px;
  height: 250px;
  object-fit: cover;
  object-position: 100% 0;
  margin-top: -1.5em;
}

.cover:hover {
  opacity: 0.6;
}

figure {
  margin: 2rem 0;
}

figcaption {
  font-family: 'Spectral', serif;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
}

footer {
  grid-column: 1;
  grid-row: 3;
  background-color: #cb997e;
  padding: 1rem 2rem;
  font-size: 12px;
}

footer h2 {
  color: #ffe8d6;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Spectral', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
}

h2 {
  color: #E29578;
  font-weight: 200;
}

h3 {
  font-weight: 700;
  margin-bottom: -0.3em;
}

h4,
h5,
h6 {
  color: #a5a58d;
}

.navigation a {
  color: #ffe8d6;
}

.navigation a:hover {
  color: #6b705cd8;
  text-decoration: none;
}

a {
  color: #cb997e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #a5a58d;

}


ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;

}

li {
  list-style-type: none;
}




/*colors*/

.buff {
  color: #cb997e;
}

.desertSand {
  color: #ddbea9;
}

.champagnePink {
  color: #ffe8d6;
}

.ashGray {
  color: #b7b7a4;
}


.sage {
  color: #a5a58d;
}

.resedaGreen {
  color: #6b705c;
}

@media screen and (max-width: 480px) {

  .menuname>a:nth-child(1) {
    visibility: visible;
    height: 0rem;
  }

  nav.navigation a {
    display: flex;
    justify-content: center;
    height: 1.5rem;
    text-decoration: none;
    background-color: #cb997e;

  }

  nav.navigation h1 a:hover {
    background: #cb997e;
    color: #ffe8d6;
  }

  nav.navigation a:hover {
    background: #ffe8d6;
    color: #cb997e;
    font-weight: 500;

  }

  nav.navigation ul {
    padding: 0;
  }


  nav.navigation li {
    width: 100vw;
    text-align: center;
  }

  nav.navigation li:hover .dropdown>li {
    display: block;
    top: 1rem;
  }

  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #cb997e;
  }

  .dropdown li {
    display: none;
    position: relative;
  }

  ul.dropdown>li:nth-child(3) {
    color: red;
  }

}